In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('noshowappointments.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [4]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [5]:
df.columns = [x.strip().lower() for x in df.columns]

In [6]:
df.head()

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [7]:
sum(df.duplicated())

0

In [8]:
sum(df.patientid.duplicated())

48783

In [9]:
sum(df.appointmentid.duplicated())

0

In [14]:
df.patientid.nunique()

61744

In [13]:
df.gender.unique()

array(['F', 'M'], dtype=object)

In [18]:
df['appointment_date'] = df.appointmentday.str[:10]

In [19]:
df.head(3)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show,appointment_date
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,2016-04-29
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,2016-04-29
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,2016-04-29

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 15 columns):
patientid           110527 non-null float64
appointmentid       110527 non-null int64
gender              110527 non-null object
scheduledday        110527 non-null object
appointmentday      110527 non-null object
age                 110527 non-null int64
neighbourhood       110527 non-null object
scholarship         110527 non-null int64
hipertension        110527 non-null int64
diabetes            110527 non-null int64
alcoholism          110527 non-null int64
handcap             110527 non-null int64
sms_received        110527 non-null int64
no-show             110527 non-null object
appointment_date    110527 non-null object
dtypes: float64(1), int64(8), object(6)
memory usage: 12.6+ MB

In [21]:
df['appointment_date'] = pd.to_datetime(df['appointment_date'], format = '%Y-%m-%d')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 15 columns):
patientid           110527 non-null float64
appointmentid       110527 non-null int64
gender              110527 non-null object
scheduledday        110527 non-null object
appointmentday      110527 non-null object
age                 110527 non-null int64
neighbourhood       110527 non-null object
scholarship         110527 non-null int64
hipertension        110527 non-null int64
diabetes            110527 non-null int64
alcoholism          110527 non-null int64
handcap             110527 non-null int64
sms_received        110527 non-null int64
no-show             110527 non-null object
appointment_date    110527 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(8), object(5)
memory usage: 12.6+ MB

In [23]:
df.head(1)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show,appointment_date
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,2016-04-29

In [25]:
import datetime as dt

In [33]:
df['appt_year'] = df.appointment_date.dt.year
df['appt_month'] = df.appointment_date.dt.month
df['appt_day'] = df.appointment_date.dt.day

In [35]:
df.tail(3)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show,appointment_date,appt_year,appt_month,appt_day
110524,1.557660e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No,2016-06-07,2016,6,7
110525,9.213490e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No,2016-06-07,2016,6,7
110526,3.775120e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No,2016-06-07,2016,6,7

In [42]:
df['appt_dayofweek'] = df.apply(lambda row: dt.date(row['appt_year'], row['appt_month'], row['appt_day']).strftime("%A"), axis=1)

In [46]:
df.sample(2)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show,appointment_date,appt_year,appt_month,appt_day,appt_dayofweek
33465,4.576730e+14,5609255,F,2016-04-20T15:28:15Z,2016-05-30T00:00:00Z,8,SANTA MARTHA,0,0,0,0,0,0,No,2016-05-30,2016,5,30,Monday
96393,1.337890e+13,5782402,F,2016-06-07T11:10:28Z,2016-06-07T00:00:00Z,10,JARDIM DA PENHA,0,0,0,0,0,0,No,2016-06-07,2016,6,7,Tuesday

In [51]:
df.dtypes

patientid                  float64
appointmentid                int64
gender                      object
scheduledday                object
appointmentday              object
age                          int64
neighbourhood               object
scholarship                  int64
hipertension                 int64
diabetes                     int64
alcoholism                   int64
handcap                      int64
sms_received                 int64
no-show                     object
appointment_date    datetime64[ns]
appt_year                    int64
appt_month                   int64
appt_day                     int64
appt_dayofweek              object
dtype: object

In [62]:
print(df.sms_received.value_counts())

0    75045
1    35482
Name: sms_received, dtype: int64